body {
	background: #222627 !important;
}
.card {
	border: 1px solid #17a2b8;
	background: #222627 !important;
}
.card-login {
	margin-top: 130px;
	padding: 18px;
	max-width: 30rem;
}

.card-header {
	color: #fff;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 600 !important;
	margin-top: 10px;
	border-bottom: 0;
}

.input-group-prepend span{
	width: 50px;
	background-color: #17a2b8;
	color: #fff;
	border:0 !important;
}

input:focus{
	outline: 0 0 0 0  !important;
	box-shadow: 0 0 0 0 !important;
}

.login_btn{
	width: 130px;
}

.login_btn:hover{
	color: #fff;
	background-color: #17a2b8;
}

.btn-outline-danger {
	color: #fff;
	font-size: 18px;
	background-color: #17a2b8;
	background-image: none;
	border-color: #17a2b8;
}

.form-control {
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1.2rem;
	line-height: 1.6;
	color: #17a2b8;
	background-color: transparent;
	background-clip: padding-box;
	border: 1px solid #17a2b8;
	border-radius: 0;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 0.375rem 0.75rem;
	margin-bottom: 0;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.6;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	background-color: #e9ecef;
	border: 1px solid #ced4da;
	border-radius: 0;
}