@charset "utf-8";


@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,500,700,900');

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	background-color: #191c1d;
}

div {
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin-bottom: 0px;
}

ol {
	color: #fff;
}

li {
	color: #fff;
}

ol li {
	color: #fff;
}

p {
	font-size: 14px;
	line-height: 1.85;
	font-weight: 400;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a {
	display: inline;
	position: relative;
	color: #fff;
	border-bottom: solid 1px #17a2b8;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

p:last-of-type {
	margin-bottom: 0;
}

a,
a:hover,
a:visited,
a:active,
a:link {
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a:active {
	position: relative;
	color: #17a2b8;
}

a p:active {
	position: relative;
	color: #17a2b8;
}

p a:hover {
	color: #000000;
	background: #17a2b8;
}

p a:hover::after {
	opacity: 0.2;
}

::selection {}

p::selection {}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	color: #fff;
	margin-bottom: 0;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {}

.form-control {
	color: #db5246;
}

section {
	display: block;
	position: relative;
	box-sizing: border-box;
}

.clear {
	clear: both;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.trans_200 {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.trans_300 {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.trans_400 {
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.trans_500 {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.fill_height {
	height: 100%;
}

.super_container {
	width: 100%;
	overflow: hidden;
}

.prlx_parent {
	overflow: hidden;
}

.prlx {
	height: 130% !important;
}

.parallax-window {
	min-height: 400px;
	background: transparent;
}

.nopadding {
	padding: 0px !important;
}


.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.header.scrolled {
	top: -10px;
}

.top_bar {
	width: 100%;
	background-color: #222627;
}

.header.scrolled .top_bar {}

.top_bar_container {
	width: 100%;
	height: 100%;
}

.top_bar_content {
	width: 100%;
	height: 40px;
}

.top_bar_contact_list li {
	display: inline-block;
}

.question {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	color: #FFFFFF;
	margin-left: 0px;
}

.top_bar_contact_list li i,
.top_bar_contact_list li>div {
	display: inline-block;
	font-size: 14px;
	color: #FFFFFF;
}

.top_bar_contact_list li>div {
	margin-left: 1px;
}

.top_bar_contact_list li:not(:last-child) {
	margin-right: 21px;
}

.top_bar_login {
	height: 100%;
}

.login_button {
	width: 160px;
	height: 100%;
	background: #17a2b8;
	text-align: center;
}

.login_button a {
	display: block;
	font-size: 14px;
	font-weight: 500;
	line-height: 40px;
	color: #fff;
}

.header_container {
	width: 100%;
	background: rgb(23, 162, 184, 0.8);
}

.header_content {
	height: 90px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.header.scrolled .header_content {
	height: 80px;
}

.logo,
.logo_text {
	display: inline-block;
}

.logo {
	width: 60px;
	height: 60px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.logo img {
	max-width: 100%;
}

.imgprofil {
	max-width: 100%;
	width: auto;
	height: auto;
}

.logo_text {
	font-size: 36px;
	font-weight: 700;
	line-height: 0.75;
	color: #222627;
	vertical-align: middle;
	margin-left: 7px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.logo_text span {
	color: #fff;
}

.header.scrolled .logo {
	width: 40px;
	height: 40px;
}

.header.scrolled .logo_text {
	font-size: 24px;
}


.main_nav_contaner {}

.main_nav,
.search_button,
.shopping_cart {
	display: inline-block;
}

.main_nav li {
	display: inline-block;
	position: relative;
}

.main_nav li:not(:last-child) {
	margin-right: 44px;
}

.main_nav li a {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.main_nav li a:hover,
.main_nav li.active a {
	color: #222627;
}

.main_nav li.active::after {
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
}

.search_button {
	margin-left: 46px;
	cursor: pointer;
}

.shopping_cart {
	margin-left: 23px;
	cursor: pointer;
}

.search_button i,
.shopping_cart i {
	font-size: 18px;
	color: #181818;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.search_button:hover i,
.shopping_cart:hover i {
	color: #17a2b8;
}

.header_search_form {
	display: block;
	position: relative;
	width: 100%;
}

.header_search_container {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background: rgb(23, 162, 184, 0.8);
	z-index: -1;
	opacity: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.header_search_container.active {
	bottom: -73px;
	opacity: 1;
}

.header_search_content {
	width: 100%;
	height: 73px;
}

.search_input {
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	padding-left: 20px;
}

.header_search_button {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 100%;
	border: none;
	outline: none;
	cursor: pointer;
}

.body {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
	margin-bottom: 15px;
}

.hamburger_container {}

.hamburger {
	display: none;
	cursor: pointer;
}

.hamburger i {
	font-size: 20px;
	color: #353535;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.hamburger:hover i {
	color: #17a2b8;
}


.menu {
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background: #222627;
	z-index: 101;
	padding-right: 60px;
	padding-top: 87px;
	padding-left: 50px;
}

.menu .logo a {
	color: #fff;
}

.menu.active {
	right: 0;
}

.menu_close_container {
	position: absolute;
	top: 30px;
	right: 60px;
	width: 18px;
	height: 18px;
	transform-origin: center center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor: pointer;
}

.menu_close {
	width: 100%;
	height: 100%;
	transform-style: preserve-3D;
}

.menu_close div {
	width: 100%;
	height: 2px;
	background: #fff;
	top: 8px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.menu_close div:last-of-type {
	-webkit-transform: rotate(90deg) translateX(-2px);
	-moz-transform: rotate(90deg) translateX(-2px);
	-ms-transform: rotate(90deg) translateX(-2px);
	-o-transform: rotate(90deg) translateX(-2px);
	transform: rotate(90deg) translateX(-2px);
	transform-origin: center;
}

.menu_close:hover div {
	background: #fff;
}

.menu .logo {
	margin-bottom: 60px;
}

.menu_nav ul li {
	margin-bottom: 9px;
}

.menu_nav ul li a {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	letter-spacing: 0.1em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.menu_nav ul li a:hover {
	color: #17a2b8;
}

.menu .search {
	width: 100%;
	margin-bottom: 67px;
}

.search {
	display: inline-block;
	width: 400px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}

.menu .header_search_form {
	width: 100%;
}

.search form {
	position: relative;
}

.menu .search_input {
	width: 100%;
	height: 40px;
	background: #fff;
	border-radius: 3px;
	border: none;
	outline: none;
	padding-left: 15px;
	color: #181818;
}

.menu .search_input::-webkit-input-placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: rgba(0, 0, 0, 0.4) !important;
}

.menu .search_input:-moz-placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: rgba(0, 0, 0, 0.4) !important;
}

.menu .search_input::-moz-placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: rgba(0, 0, 0, 0.4) !important;
}

.menu .search_input:-ms-input-placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: rgba(0, 0, 0, 0.4) !important;
}

.menu .search_input::input-placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: rgba(0, 0, 0, 0.4) !important;
}


.section_title_container {
	max-width: 600px;
	margin: 0 auto;
}

.section_title {
	line-height: 1.2;
}

.section_subtitle {
	line-height: 1.85;
	margin-top: 14px;
}

.section_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.home {
	width: 100%;
	height: 850px;
}

.home_slider_container {
	width: 100%;
	height: 100%;
}

.home_slider {
	width: 100%;
	height: 100%;
}

.home_slider_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.home_slider_content {
	position: absolute;
	top: 41%;
	left: 0;
	width: 100%;
	height: auto;
}

.home_slider_title {
	font-family: 'Roboto Slab', serif;
	font-size: 60px;
	font-weight: 700;
	line-height: 1.2;
	color: #384158;
}

.home_slider_subtitle {
	font-size: 24px;
	color: #76777a;
	margin-top: 9px;
}

.home_slider_form_container {
	width: 832px;
	margin: 0 auto;
	margin-top: 35px;
}

.home_search_form div {
	width: calc(100% - 140px);
	height: 46px;
	background: #FFFFFF;
	border-radius: 3px;
}

.home_search_input {
	width: 33.33333333%;
	border: none;
	outline: none;
	height: 25px;
	padding-left: 20px;
}

.home_search_input:not(:last-child) {
	border-right: solid 1px #e5e5e5;
}

.home_search_input::-webkit-input-placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #b5b8be !important;
}

.home_search_input:-moz-placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #b5b8be !important;
}

.home_search_input::-moz-placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #b5b8be !important;
}

.home_search_input:-ms-input-placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #b5b8be !important;
}

.home_search_input::input-placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #b5b8be !important;
}

.dropdown_item_select {
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	background-image: url(../images/down.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 20px;
	padding-left: 20px;
}

.home_search_button {
	width: 120px;
	height: 46px;
	background: #17a2b8;
	border: none;
	outline: none;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 500;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	cursor: pointer;
}

.home_slider_nav {
	position: absolute;
	top: 55.8%;
	width: 50px;
	background: #b6b7bd;
	border-radius: 50%;
	text-align: center;
	z-index: 10;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.home_slider_prev {
	left: 75px;
}

.home_slider_next {
	right: 75px;
}

.home_slider_nav i {
	line-height: 50px;
	color: #FFFFFF;
	font-size: 22px;
}

.home_slider_nav:hover {
	background: #17a2b8;
}

input[type=text],
select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #17a2b8;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #17a2b8;
}

.footer {
	display: block;
	position: relative;
	width: 100%;
	background: #222627;
	padding-top: 84px;
	padding-bottom: 54px;
}


.copyright {
	height: 54px;
	border-top: solid 1px #353a49;
}

.cr_list li {
	display: inline-block;
}

.copyright div {
	font-size: 14px;
	color: #b5b8be;
}

.cr_text a {
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.cr_text a:hover {
	color: #17a2b8;
}

.cr_list li:not(:last-child) {
	margin-right: 50px;
}

.cr_list li a {
	font-size: 14px;
	color: #b5b8be;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.cr_list li a:hover {
	color: #17a2b8;
}

.center {
	text-align: center;
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
}

.pagination a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

.button {
	background-color: #17a2b8;
	border: none;
	color: white;
	padding: 6px 6px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px 3px;
	cursor: pointer;
}

.button:hover {
	background-color: #076b7a;
	color: #000;
}


hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	color: #17a2b8;
	background-color: #17a2b8;
}

.cards {
	background-color: #222627;
	border-radius: 0;
	color: #fff;
}

.cards:hover {
	box-shadow: 0 0.125rem 0.25rem rgba(7, 174, 196, 0.75) !important;
}

.card-img-atas {
	width: 100%;
	min-height: 250px;
	max-height: 250px;
}

.card-img-bawah {
	width: 100%;
	height: 150px;
	max-height: 250px;
}

.cardbody {
	background-color: #222627;
	border-radius: 0;
	color: #fff;
}

.newcard {
	position: relative;
	margin: 10px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #17a2b8;
	background-clip: border-box;
}

.newcard-columns .newcard {
	margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
	.newcard-columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-gap: 1.25rem;
		-moz-column-gap: 1.25rem;
		column-gap: 1.25rem;
		orphans: 1;
		widows: 1;
	}

	.newcard-columns .newcard {
		display: inline-block;
		width: 100%;
	}
}

.jumb {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: #17a2b8;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #17a2b8;
	color: white;
	cursor: pointer;
	padding: 15px;
}

#myBtn:hover {
	background-color: #0b616e;
}



.label {
	color: white;
	padding: 8px;
	font-family: Arial;
}

.flat-button {
	position: relative;
	width: 250px;
	height: 60px;
	background: #17a2b8;
	margin: 0 auto;
	margin-top: 40px;
	overflow: hidden;
	z-index: 1;
	cursor: pointer;
	transition: color .3s;
	line-height: 60px;
	text-align: center;
	color: #fff;
}

.flat-button:after {
	position: absolute;
	top: 90%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0d616e;
	content: "";
	z-index: -2;
	transition: transform .3s;
}

.flat-button:hover::after {
	transform: translateY(-80%);
	transition: transform .3s;
}

.breadcrumb {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0.75rem 1rem;
	margin-bottom: 1rem;
	list-style: none;
	background-color: #222627;
	border-radius: 0;
}

.breadcrumb-item+.breadcrumb-item {
	padding-left: 0.5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
	display: inline-block;
	padding-right: 0.5rem;
	color: #fff;
	content: "/";
}

.breadcrumb-item+.breadcrumb-item:hover::before {
	text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item:hover::before {
	text-decoration: none;
}

.breadcrumb-item.active {
	color: #fff;
}
